.contracts-wrap{
    padding: 32px 24px;
    height: calc(100% - 52px);

}
.contracts{
    height: 100%;

    .contracts-header{
        height: 40px;
        background-color: aqua;
        margin-bottom: 16px;
    }

    .contracts-main{
        height: calc(100% - 40px - 16px);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px 24px;
    }
}

.contracts-footer{
    height: 52px;
    background-color: lime;
}