<footer class="container">
    <div class="footer-first">
        <img class="logo" src="assets/icons/logo.svg" alt="Escrow">
        <div class="social">
            <img src="assets/icons/facebook.svg" alt="">
            <img src="assets/icons/insta.svg" alt="">
            <img src="assets/icons/whatsap.svg" alt="">
        </div>

        <p>© 2008-2023 Copyright</p>
        <p>Goldblum and Partners AG.</p>
        <p>All Rights Reserved.</p>

    </div>
    <div class="footerCell">
        <p>Address</p>

        <ul>
            <li>SWEAG Software Escrow AG</li>
            <li>Rotfluhstrasse 91</li>
            <li>CH-8702 Zollikon</li>
        </ul>
    </div>

    <div class="footerCell">
        <p>Contact</p>

        <ul>
            <li>escrow@mail.com</li>
            <li>+41 (0)44 396 62 11</li>
        </ul>
    </div>

    <div class="footerCell">
        <p>Pages</p>

        <nav>
            <ul>
                <li>About us</li>
                <li>Our services</li>
                <li>Your benefits</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>

    <div class="footer-second footerCell">
        <p>Additional info</p>

        <nav>
            <ul>
                <li>Privacy Policy</li>
                <li>Terms of service</li>
                <li>Data protection</li>
            </ul>
        </nav>
    </div>

</footer>