.container{
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .footer-first{
        padding-right: 120px;
        @media screen and (max-width: 1050px) {
            padding-right: 0px;
        }
        .social{
            margin: 32px 0px;
            img{
                width: 25px;
                height: 25px;
                margin-right: 12px;
            }
        }
        p{
            font-size: 0.75rem;
            color: #A6A6A6;
            margin-bottom: 6px;
        }
    }
}

.footerCell{
    margin-top: 10px;
    p{
        color: #FFF;
        font-size: 1rem;
        font-weight: 600;
        opacity: 0.5;
        margin-bottom: 24px;
    }
    li{
        margin-bottom: 12px;
        a{
            font-size: 14px;
        }
    }
}