.messsages-main-wrap{
    display: flex;
    width: 100%;
    
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }


    .messages-main-left{
        // flex: 1 1 0px;
        margin-right: 24px;
        width: calc(40% - 24px);


        @media screen and (max-width: 900px) {
            width: 100%;
        }
        // max-width: 300px;
        .messages-left-container{
            width: 100%;
            .messages-left-cell{
                display: flex;
                position: relative;
                padding: 20px;
                cursor: pointer;
                margin-bottom: 3px;
                width: 100%;

                &.active{
                    background-color: rgba(0, 0, 0, 0.3);
                }
    
                .message-date{
                    position: absolute;
                    right: 10px;
                    top: 1px;
                    font-size: 12px;
                    opacity: 0.5;
                }
                img{
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: aquamarine;
                }


                .messages-people-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: green($color: #000000);
                    // width: 280px;
    

                    div{
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        h6{
                            margin-bottom: 0px;
                            font-size: 16px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            display: table-cell;
                            overflow-wrap: break-word;

                        }
    
                        p{
                            
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 12px;
                            opacity: 0.5;
                            margin-bottom: 8px;
                            margin-right: 30px;
                            display: table-cell;
                            overflow-wrap: break-word;

                        }
                    }
                }
            }
        }
    }

    .messages-main-right{
        width: 60%;

        padding: 24px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;

        overflow: hidden;

        .messages-right-controls{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            img.reply{
                margin-right: 24px;
            }
        }

        .messages-right-text{
            width: 100%;

            h5{
                margin:24px 0px;
            }

            .main-text{
                display: table;
                table-layout: fixed;
                width: 100%;
                pre{
                    display: table-cell;
                    white-space: pre-line;
                    overflow-wrap: break-word;
                    font-size: 12px;
                    opacity: 0.5;
                    line-height: 150%;
                }

            }

        }
    }
    
}