/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Comfortea';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf) format("opentype");
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Comfortea', sans-serif;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
}

.hamburger{
    height: fit-content;
    cursor: pointer;
    .bar{
      display: block;
      width: 24px;
      height: 2px;
      margin: 5px auto;
      background-color: white;
    }
}

.container{
    width: min(1200px, 100% - 2 * 1rem);
    margin-inline: auto;
}

.cabinet-container{
    width: 100%;
    height: 100%;
    padding: 40px;
}

button.buttomWhiteBorder{
    width: 112px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: transparent;
    transition: all 500ms;
    cursor: pointer;

    &:disabled{
        &:disabled{
            background-color: gray;
            cursor: default;
            border: 1px solid gray;
        }
    }

    &:hover{
        background: #0131F5;
        border: 1px solid #0131F5;
    }
}

button.blueButton{
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #0131F5;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;

    &:disabled{
        background-color: gray;
        cursor: default;
    }

}

button.buttonNoBorder{
    padding: 12px 12px 12px 24px;
    width: 100%;
    color: #FF5520;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;     background: #161825;}


ul{
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
}

h4{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 80px;
    text-align: center;
}

h5{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    span{
        color: #0131F5;
        font-size: inherit;
    }
}
h6{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    span{
        color: #0131F5;
        font-size: inherit;
    }
}

a{
    text-decoration: none;
}

span{
    font-size: inherit;
}

input[type=text], input[type=password], input[type=date], input[type=number]{
    background-color: transparent;
    border: 1px solid;
    outline: none;
    height: 42px;
    border-radius: 6px;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input.invalid, textarea.invalid{
    border: 1px solid rgb(196, 49, 49);
}

textarea{
    background-color: transparent;
    border: 1px solid;
    outline: none;
    border-radius: 6px;
    width: 100%;
    height: 144px;
    padding: 16px;
    resize: none;
    margin-bottom: 32px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 1px solid gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background: #b30000; 
  }



  //Material styles 


  .custom-dialog{
    
    div.mat-mdc-dialog-surface.mdc-dialog__surface{
        background-color: transparent;
    }
    
    @media screen and (max-width: 950px) {
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        border-radius: 30px;

    }
  }
  

  .mat-form-field, .mat-form-field.customMaterial{
        width: 100%;
    }



    .mat-mdc-form-field-type-mat-select .mat-mdc-text-field-wrapper{
        background-color: transparent !important;
        color: white;
        border: 1px solid;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 12px !important;
        border-radius: 5px !important;

    
        .mat-mdc-select-placeholder{
            color: white ;
        }
    
  }


.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel{
    background-color: rgba(22, 24, 37) !important;
}

// .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
//     background: transparent;
//     border: 1px solid;
//     border-radius: 5px;
//     height: 42px;
// }


mat-form-field{
    width: 100% !important;
    color: white;

    input{
        color: white !important;
    }
}

mat-form-field.customForm .mat-mdc-text-field-wrapper {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 1px solid;
    height: 42px;
    border-radius: 5px;
    color: white;;
}

.mat-datepicker-content-container{
    background-color: rgba(22, 24, 37) !important;
    color: white !important;

    // .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    //     // border-color: white;
    // }
}
.mat-datepicker-popup{
    span, td, button{
        color: white !important;
    }
}
.mat-mdc-form-field-subscript-wrapper{
    height: 16px;
}


.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
 .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
     stroke: white !important;
 }





 drag-scroll{
    ::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
 }


 //snackbar
 .mat-mdc-snack-bar-container {
    // &.green-snackbar {
    //   --mdc-snackbar-container-color: rgba(21, 119, 21, 0.61);
    //   --mat-mdc-snack-bar-button-color: red;
    //   --mdc-snackbar-supporting-text-color: white;
    // }

    &.alert-snackbar{
        --mdc-snackbar-container-color: rgb(185, 52, 52);
        // --mat-mdc-snack-bar-button-color: red;
        --mdc-snackbar-supporting-text-color: white;
    }
  }