<header>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="assets/icons/logo.svg" alt="Escrow">
                <!-- <h1>Escrow</h1> -->
            </div>
            <div class="header--main">
                <ul>
                    <li routerLink="#about-us"><a href="#about-us">About us</a></li>
                    <li><a href="#our-services">Our services</a></li>
                    <li><a href="#our-benefits">Our benefits</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <p class="languagePicker">
                    <span>EN</span>
                    <img src="assets/icons/dropdown.svg" alt="">
                </p>

                <button>Login</button>
            </div>

            <img routerLink="/navigation" class="menu" src="assets/icons/menu.svg" alt="">
        </div>
    </div>
</header> 