header {
    .container {
        height: 80px;
        display: flex;
        justify-content: space-between;

        .header{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .logo{
                img{
                    @media screen and (max-width: 950px) {
                        width: 157px;
                    }
                }
                h1{
                    visibility: hidden;
                }
            }

            .header--main{
                display: flex;
                align-items: center;
                @media screen and (max-width: 950px) {
                    display: none;
                }

                ul{
                    display: flex;
                    li{
                        margin-right: 12px;
                        @media screen and (max-width: 1050px) {
                            margin-right: 0px;
                        }

                        a{
                            padding: 10px;
                            transition: all 500ms;
                            border-bottom: 1px solid transparent;

                            &:hover{
                                border-bottom: 1px solid #0131F5;
                                color: #0131F5;
                            }
                        }
                    }
                }


                .languagePicker{
                    cursor: pointer;
                    span{
                        margin-right: 4px;
                    }

                    margin: 0px 70px;
                    white-space: nowrap;

                    @media screen and (max-width: 1050px) {
                        margin: 0px 35px;
                    }
                }
            }

            .menu{
                cursor: pointer;
                padding: 20px;
                display: none;
                @media screen and (max-width: 950px) {
                    display: block;
                }
            }
        }
    }
}




        .bar:nth-child(1){
            animation: 0.3s topBar;

        }
        .bar:nth-child(2){
            animation: 0.3s middleBar;
        }
        .bar:nth-child(3){
            animation: 0.3s bottomBar;

        }

      @keyframes middleBar {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
      }
      @keyframes bottomBar {
        0%{
            transform: translateY(-6px) rotate(-45deg);
        }
        100%{
        transform: translateY(0px) rotate(0deg);
        }
      }
      @keyframes topBar {
        0%{
            transform: translateY(8px) rotate(45deg);
        }
        100%{
        transform: translateY(0px) rotate(0deg);
        }
      }