<div class="messsages-main-wrap">
    <div class="messages-main-left">
        <input type="text" (input)="searchMessage($any($event).target.value)">
        <div class="messages-left-container">
            <div class="messages-left-cell" [class.active]="message.id === currentMessage?.id" *ngFor="let message of filteredMessages" (click)="chooseMessage(message)">
                <!-- <p class="message-date">24.10.22 11:20</p> -->
                <p class="message-date">{{message.timestamp | date : "dd.MM.YY hh:mm"}}</p>

                <img src="" alt="">
                <div class="messages-people-text">
                    <h6>{{message.sender}}</h6>
                    <p>{{message.content}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="messages-main-right">
        <ng-container  *ngIf="currentMessage">
            <div class="messages-right-controls" >
                <p>October 24 2022 11:20</p>
                <div>
                    <img class="reply" src="assets/icons/reply.svg" alt="">
                    <img class="delete" src="assets/icons/delete.svg" alt="">
                </div>
            </div>
            <div class="messages-right-text">
                <h5>{{currentMessage.subject}}</h5>
                <pre>
                    {{currentMessage.content}}
                </pre>
            </div>
        </ng-container>
    </div>
</div>


