<div class="container">
    <div routerLink="/" id="closeNav" class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

    <nav>
        <ul>
            <li><img src="assets/icons/logo.svg" alt=""></li>
            <li routerLink="" fragment="about-us">About us</li>
            <li>Our Services</li>
            <li>Your Benefits</li>
            <li>Contact</li>
        </ul>
    </nav>

    <ul class="language">
        <li class="active">EN</li>
        <li>FR</li>
        <li>DE</li>
        <li>RU</li>
    </ul>

    <button class="buttomWhiteBorder">Login</button>
</div>
