<div class="container">
    <img routerLink="/" id="closeNav" src="assets/icons/close.svg" alt="">

    <nav>
        <ul>
            <li><img src="assets/icons/logo.svg" alt=""></li>
            <li>About us</li>
            <li>Our Services</li>
            <li>Your Benefits</li>
            <li>Contact</li>
        </ul>
    </nav>

    <ul class="language">
        <li class="active">EN</li>
        <li>FR</li>
        <li>DE</li>
        <li>RU</li>
    </ul>

    <button>Login</button>
</div>
