<footer class="container">
    <div class="footer-first">
        <img width="220" height="48" class="logo" src="assets/icons/logo.svg" alt="Escrow">
        <div class="social">
            <img width="25" height="25" loading="lazy" src="assets/icons/facebook.svg" alt="fb">
            <img width="25" height="25" loading="lazy" src="assets/icons/insta.svg" alt="insta">
            <img width="25" height="25" loading="lazy" src="assets/icons/whatsap.svg" alt="wp">
        </div>

        <p>© 2022-2023 Copyright</p>
        <p>Escrow and Trust Services LLC.</p>
        <p>All Rights Reserved.</p>

    </div>
    <div class="footerCell">
        <p>Address</p>

        <ul>
            <li>Fanaskertel-Tsitsishvili Street</li>
            <li>Office 124</li>
            <li>Tbilisi, Georgia</li>
        </ul>
    </div>

    <div class="footerCell">
        <p>Contact</p>

        <ul>
            <li>contact@escrowandtrust.net</li>
            <li>+995 592 507 705</li>
        </ul>
    </div>

    <div class="footerCell">
        <p>Pages</p>

        <nav>
            <ul>
                <li><a href="#about-us">About us</a></li>
                <li><a href="#our-services">Our services</a></li>
                <li><a href="#our-benefits">Our benefits</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="footer-second footerCell">
        <p>Additional info</p>

        <nav>
            <ul>
                <li>Privacy Policy</li>
                <li>Terms of service</li>
                <li>Data protection</li>
            </ul>
        </nav>
    </div>

</footer>