<div class="files-wrap">
 <div class="files">
    <div class="files-header">
        <div class="folder-info">
            <p><span></span> Completed</p>
            <h6>Folder Name</h6>
        </div>
        <input  #file type="file" style="display: none;" (change)="uploadFile($event)">
        <button class="blueButton" (click)="file.click()">+ Upload Documents</button>
    </div>

    <div class="files-grid">
        <contracts-files-cell *ngFor="let file of allFiles | async" [file]="file"></contracts-files-cell>
    </div>

 </div>
</div>