<div class="wrapper">
    <div class="header">
        <h6>New message</h6>
        <img (click)="closeDialog()" id="closeNav" src="assets/icons/close.svg" alt="">
    </div>

    <form class="main-content" [formGroup]="messageForm" mat-dialog-content>
        <input formControlName="subject" class="subject" type="text" placeholder="Subject">

        <textarea formControlName="content"></textarea>
    </form>

    <div class="bottom">
        <button (click)="sendMessage()" class="buttomWhiteBorder">Send Message</button>
    </div>
</div>