form{
    text-align: center;
    img{
        margin-bottom: 24px;
    }
    p{
        margin-top: 8px;
        margin-bottom: 24px;
    }

    button{
        margin-top: 24px;
        width: 100%;
    }
}