.container{
    display: flex;
    padding: 80px 0px;

    @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    img{
        margin-right: 36px;
        width: min(479px, 100%);
        height: 536px;

        @media screen and (max-width: 950px) {
            margin-right: 0px;
            height: auto;
            margin-bottom: 50px;
        }
    }

    h5{
        line-height: 130%; /* 41.6px */

    }

    p{
        @media screen and (max-width: 1050px){
            font-size: 1rem;
        }
        line-height: 150%; /* 27px */
        font-size: 1.125rem;
    }
}

.aboutUs2{
    align-items: center;
    margin-top: 180px;
    div{
        @media screen and (max-width: 950px) {
            order: 1;
        }
    }
}