.contracts-wrap{
    padding: 32px 24px;

}
.contracts{
    height: 100%;

    .contracts-header{
        height: 40px;
        background-color: aqua;
        margin-bottom: 16px;
    }

    .contracts-main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        // grid-template-rows: min-content 1fr;
        gap: 16px 24px;
        @media screen and (max-width: 1150px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        @media screen and (max-width: 950px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 1fr);
        }
    }
}
