<div class="contracts-wrap">
    <div class="contracts">
        <div class="contracts-header">
            <button class="blueButton" (click)="createFolder()">+ New Folder</button>
        </div>
    
        <div  class="contracts-main">
            <ng-container *ngIf="allFolders | async as folders">
                <contracts-cell *ngFor="let folder of folders.slice((currentPage-1) * 12, currentPage * 12)" [folder]="folder" routerLink="files"></contracts-cell>
            </ng-container>
        </div>
    </div>
</div>
<app-contracts-footer [lastPage]="4" (changePage)="changePage($event)"></app-contracts-footer>


<!-- 0-12  12-24  26-38 -->