<div class="cabinet-wrap">
    <div class="my-profile cabinet-container">
        <div class="my-profile-wrap">
            <h2>Welcome to your personal cabinet!</h2>
    
            <form class="my-profile-main">
                <div class="column-one">
                    <div class="profile">
                        <img src="" alt="">
                        <div class="profile-text">
                            <h5>Giorgi Ezugbaia</h5>
                            <p>giorgi@gmail.com</p>
                        </div>
                    </div>
                    <input-with-label labelTitle="Name"></input-with-label>
                    <input-with-label labelTitle="Last name"></input-with-label>
                    <input-with-label labelTitle="Email"></input-with-label>
                    <input-with-label labelTitle="Phone"></input-with-label>
                    <input-with-label labelTitle="Gender"></input-with-label>
                </div>
                <div class="column-two">
                    <input-with-label labelTitle="Age"></input-with-label>
                    <input-with-label labelTitle="Social Status"></input-with-label>
                    <input-with-label labelTitle="Nationality"></input-with-label>
                    <input-with-label labelTitle="Country"></input-with-label>
                    <input-with-label labelTitle="City"></input-with-label>
                    <input-with-label labelTitle="Address"></input-with-label>
                    <input-with-label labelTitle="Zip code"></input-with-label>
                </div>
                <div class="column-three">
                    <div class="passporOptional">
                        <h6>Passport information</h6>
                        <p>Optionan</p>
                    </div>
    
                    <input-with-label labelTitle="Passport number"></input-with-label>
                    <input-with-label labelTitle="Issue Date"></input-with-label>
                    <input-with-label labelTitle="Expiration Date"></input-with-label>
                    <input-with-label labelTitle="Identification Number"></input-with-label>
                    <input-with-label labelTitle="Who issued the passport"></input-with-label>
                </div>
            </form>
    
            <div class="actions">
                <button class="buttomWhiteBorder">Update information</button>
                <button class="buttonNoBorder">Delete your account </button>
            </div>
        </div>
    
    </div>
</div>