.my-profile{

    h2{
        font-size: 32px;
        margin-bottom: 48px;
    }


    .my-profile-wrap{
        width: 100%;
        height: 100%;

        .my-profile-main{
            display: flex;
            justify-content: space-between;
            gap: 40px;

            >div{
                flex: 1;
            }

            .column-one{
                .profile{
                    // width: 636px;
                    height: 120px;
                    margin-bottom: 32px;
                    margin-top: 8px;
                    display: flex;

                    img{
                        width: 120px;
                        height: 120px;
                        background-color: aquamarine;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    .profile-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        h5{
                            margin-bottom: 12px;
                            font-size: 24px;
                        }
                        p{
                            opacity: 0.5;
                        }
                    }
                }
    
            }


            .column-three{
                .passporOptional{
                    height: 120px;
                    margin-bottom: 32px;
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    // align-items: flex-end;
                    justify-content: end;
                }
            }
        }

        .actions{
            margin-top: 40px;
            button{
                display: inline;
                width: auto;
            }
            .buttomWhiteBorder{
                padding: 16px 32px;
                height: auto;
            }
        }
    }
}