<div class="landing-page">
    <landing-header></landing-header>

    <div class="welcome-wrapper">
        <div class="big-circle"></div>
        <div class="circle2"></div>
        <div class="container">
            <h4>WHY <span>choose us?</span></h4>
            <p>Here at Escrow and Trust, we understand how important it is to feel secure, informed, and worry-free about your
                financial transactions. Our goal is simple: to provide you with a platform that's dependable and smooth for handling
                all your needs, while making sure every interaction is trustworthy and comfortable.</p>
        </div>

    </div>
</div>

<about-us></about-us>
<out-benefits></out-benefits>
<app-steps></app-steps>
<our-services></our-services>
<contact-us></contact-us>
<app-footer></app-footer>
