.landing-page {

    .welcome-wrapper{
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        .big-circle{
            width: 1368px;
            height: 1368px;
            left: -963px;
            bottom: -877px;

            position: absolute;
            z-index: -1;

            border-radius: 1521px;
            opacity: 0.3;
            background: #0131F5;
            filter: blur(100px);
            width: 1368px;
            height: 1368px;



            animation: fadeinphoto 10000ms infinite;


            @keyframes fadeinphoto {
                0% {                
                    width: 1368px;
                    height: 1368px;
                    left: -963px;
                    bottom: -877px;
                 }
                 50%{
                    width: 1521px;
                    height: 1521px;
                    
                    bottom: -797px;
                    left: -866px;
                 }
                100% {             
                    width: 1368px;
                    height: 1368px;
                    left: -963px;
                    bottom: -877px;
                }
            }
        }



        h4{
            font-size: 3.75rem;
            margin-bottom: 1.5rem;
            text-align: start;
            span{
                color: #0131F5;
                font-size: inherit;
            }
        }
        p{
            max-width: 788px;
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

        @media screen and (max-width: 950px) {
            h4{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}

.goToMessage{
    position: fixed;
    right: 80px;
    bottom: 40px;
    z-index: 200;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    img{
        transform: translateY(2px);
    }
}

