.container{
    margin-top: 120px;

    h5{
        text-align: center;
        margin-bottom: 60px;
    }

    .benefits--wrap{
        .benefits--cell{
            display: flex;  
            margin-bottom: 60px;
            @media screen and (max-width: 950px) {
                flex-direction: column;
                align-items: start;
            }
            img{
                height: 60px;
                margin-right: 24px;
                margin-bottom: 24px;
            }    
        }
    }
}