.contracts-cell{
    background: #161825;
    backdrop-filter: blur(32.53333282470703px);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;


    padding: 32px;
    .cell-top{
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 24px;
    }

    h6{
        margin-bottom: 17px;
    }
    .cell-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        p{
            display: flex;
            align-items: center;
            span{
                background-color: rebeccapurple;
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        p.lastUpdate{
            font-size: 12px;
            opacity: 0.5;
        }
    }
}