.header-background{
    height: 400px;
    background-color: red;
    background-image: url('../../../assets/images/services-background.webp');

    .service-chooser{
        background-color: rebeccapurple;
    }
}