.header-background{
    height: 400px;
    background-image: url('../../../assets/images/services-background.webp');

    .service-chooser{
        margin-top: 150px;
        text-align: center;

        h1{
            font-size: 2.625rem;
            margin-bottom: 24px;
        }
        

        .horizontal-scroll{
            display: flex;
            gap: 24px;

            // width: 406px;
            // background-color: antiquewhite;
            overflow-x: scroll;
            width: fit-content;


            p{
                padding: 10px;
                cursor: pointer;
                opacity: 0.5;
                // margin-right: 10px;

                &.active{
                    border-bottom: 1px solid #FFF;
                    opacity: 1;
                }
                
            }
        }
    }
}

.content{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    p{
        max-width: 788px;
        margin: 0 auto;
        font-size: 1.125rem;
        line-height: 1.9rem;
    }
}

drag-scroll{
    width: 40%;
    margin: 0 auto;

}