<div class="header-background">
    <landing-header></landing-header>

    <div class="service-chooser">
        <drag-scroll>
            <div class="horizontal-scroll">
                <p>Service</p>
                <p>ara</p>
                <p>ki</p>
                <p>es ukve</p>
                <p>namdvili</p>
                <p>kai</p>
                <p>kacis</p>
                <p>z</p>
                <p>Service</p>
                <p>ara</p>
                <p>ki</p>
                <p>es ukve</p>
                <p>namdvili</p>
                <p>kai</p>
                <p>kacis</p>
                <p>z</p>
        </div>
        </drag-scroll>
    </div>
</div>
