<div id="contact" class="container">
    <h4>Contact Us</h4>
    <div class="contact">
        <div class="contact--info">
            <div class="contact--info--cell phoneNumber">
                <img src="assets/icons/phone.svg" alt="">
                <div>
                    <h6>PHONE NUMBER</h6>
                    <p>+8 093 933 33 33</p>
                    <p>+8 093 933 33 33</p>
                </div>
            </div>

            <div class="contact--info--cell email">
                <img src="assets/icons/email.svg" alt="">
                <div>
                    <h6>EMAIL</h6>
                    <p>my.email@mail.mail</p>
                </div>
            </div>

            
            <div class="contact--info--cell location">
                <img src="assets/icons/location.svg" alt="">
                <div>
                    <h6>LOCATION</h6>
                    <p>132 Dartmouth Street Boston, Massachusetts 02156 United States</p>
                </div>
            </div>

            <div class="social">
                <img src="assets/icons/facebook.svg" alt="">
                <img src="assets/icons/insta.svg" alt="">
                <img src="assets/icons/whatsap.svg" alt="">
            </div>

        </div>

        <div class="contact--form">
            <!-- <h6>Feel free to drop us a line.</h6> -->

            <form [formGroup]="sendMailForm" (ngSubmit)="submit()">
                <input [class.invalid]="sendMailForm.get('fullName')!.invalid && sendMailForm.get('fullName')!.touched" type="text" placeholder="Full Name" formControlName="fullName">
                <input [class.invalid]="sendMailForm.get('email')!.invalid && sendMailForm.get('email')!.touched" type="text" placeholder="Email" formControlName="email">
                <input [class.invalid]="sendMailForm.get('phone')!.invalid && sendMailForm.get('phone')!.touched" type="text" placeholder="Phone" formControlName="phone">

                <textarea [class.invalid]="sendMailForm.get('message')!.invalid && sendMailForm.get('message')!.touched" placeholder="Message" formControlName="message"></textarea>
                <label>
                    <input type="checkbox" formControlName="checkbox">
                    By submitting I consent to process my personal data
                </label>
                <app-button [disabled]="sendMailForm.invalid" [isLoading]="isLoading">Submit</app-button>
            </form>


        </div>

    </div>
</div>
