<div class="dialog-container">

    <img src="assets/images/auth.webp" alt="">


    <div class="auth-">
        <app-confirm-email *ngIf="currentAuthState === StateEnum.CONFIRM_EMAIL"></app-confirm-email>
        <app-register (changeState)="changeCurrentState($event)" *ngIf="currentAuthState === StateEnum.REGISTER"></app-register>
        <app-login (changeState)="changeCurrentState($event)"  *ngIf="currentAuthState === StateEnum.LOGIN"></app-login>
        <app-forgot-password *ngIf="currentAuthState === StateEnum.FORGOT_PASSWORD"></app-forgot-password>
    </div>
</div>