.dialog-container{
    background-color: #161825;
    // width: 1000px;
    // height: 720px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-radius: 30px;
    @media screen and (max-width:950px) {
        width: 100vw;
        height: 100vh;
    }

    img{
        // max-width: 540px;
        width: calc(100% - 300px - 70px);

        @media screen and (max-width:950px) {
            display: none;
        }
    }

    .auth-main{
        // background-color: red;
        width: 300px;
        min-width: 300px;
        // align-self: center;
    }
}