<div class="messages-wrap">
    <div class="messages">
        <div class="message-top">
            <div>
                <h6 class="active">Received</h6>
                <h6>Sent</h6>
            </div>
            <button class="buttomWhiteBorder">+ Send us a message</button>
        </div>

        <div class="messsages-main-wrap">

            <div class="messages-main-left">
                <input type="text">
                <div class="messages-left-container">
                    <div class="messages-left-cell active">
                        <p class="message-date">24.10.22 11:20</p>
                        <img src="" alt="">
                        <div class="messages-people-text">
                            <h6>Giorgi Ezugbaia</h6>
                            <p>Who was that photographer you shared with me recently? Who was that photographer you
                                shared with me recently?</p>
                        </div>
                    </div>
                    <div class="messages-left-cell" *ngFor="let item of [1,2,3,4,5,6,7]">
                        <p class="message-date">24.10.22 11:20</p>
                        <img src="" alt="">
                        <div class="messages-people-text">
                            <h6>Giorgi Ezugbaia</h6>
                            <p>Who was that photographer you shared with me recently? Who was that photographer you
                                shared with me recently?</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="messages-main-right">
                <div class="messages-right-controls">
                    <p>October 24 2022 11:20</p>
                    <div>
                        <img class="reply" src="assets/icons/reply.svg" alt="">
                        <img class="delete" src="assets/icons/delete.svg" alt="">
                    </div>
                </div>
                <div class="messages-right-text">
                    <h5>Message Title</h5>
                    <p>
                        Hello Name <br> <br> <br>
                        Lorem ipsum dolor sit amet consectetur. Nulla pellentesque erat eu nunc quam dolor. Lectus
                        tristique aliquet eu mi tristique enim. Nulla enim ac felis facilisis velit volutpat turpis
                        integer augue. Elit vitae mollis ac quisque ultrices et. Egestas mus sit et sapien. Dictum at
                        <!-- feugiat sit sodales ornare pellentesque.
                        Proin purus tristique euismod amet ac auctor sed habitasse. Mollis fringilla nunc lacinia at.
                        Diam nibh ut eget tortor velit ut nibh aliquam interdum. Nibh justo faucibus gravida vivamus ut
                        sit luctus. Fringilla laoreet eu suscipit vulputate tristique. Vulputate sem justo eleifend
                        quis. Augue fusce ullamcorper mauris ut faucibus.
                        Ut senectus consequat porttitor maecenas ultricies. Odio blandit nec in risus iaculis. Nec amet
                        cursus aliquet commodo. Morbi laoreet massa arcu enim. Ut condimentum senectus scelerisque
                        accumsan. Habitant consequat augue ipsum dignissim porttitor enim mauris penatibus. Malesuada
                        adipiscing vestibulum habitant eu phasellus felis viverra et. Purus massa cum mauris eu purus
                        morbi ac.
                        Lorem ipsum dolor sit amet consectetur. Nulla pellentesque erat eu nunc quam dolor. Lectus
                        tristique aliquet eu mi tristique enim. Nulla enim ac felis facilisis velit volutpat turpis
                        integer augue. Elit vitae mollis ac quisque ultrices et. Egestas mus sit et sapien. Dictum at
                        feugiat sit sodales ornare pellentesque.
                        Proin purus tristique euismod amet ac auctor sed habitasse. Mollis fringilla nunc lacinia at.
                        Diam nibh ut eget tortor velit ut nibh aliquam interdum. Nibh justo faucibus gravida vivamus ut
                        sit luctus. Fringilla laoreet eu suscipit vulputate tristique. Vulputate sem justo eleifend
                        quis. Augue fusce ullamcorper mauris ut faucibus.
                        Ut senectus consequat porttitor maecenas ultricies. Odio blandit nec in risus iaculis. Nec amet
                        cursus aliquet commodo. Morbi laoreet massa arcu enim. Ut condimentum senectus scelerisque
                        accumsan. Habitant consequat augue ipsum dignissim porttitor enim mauris penatibus. Malesuada
                        adipiscing vestibulum habitant eu phasellus felis viverra et. Purus massa cum mauris eu purus
                        morbi ac.
                        Lorem ipsum dolor sit amet consectetur. Nulla pellentesque erat eu nunc quam dolor. Lectus
                        tristique aliquet eu mi tristique enim. Nulla enim ac felis facilisis velit volutpat turpis
                        integer augue. Elit vitae mollis ac quisque ultrices et. Egestas mus sit et sapien. Dictum at
                        feugiat sit sodales ornare pellentesque.
                        Proin purus tristique euismod amet ac auctor sed habitasse. Mollis fringilla nunc lacinia at.
                        Diam nibh ut eget tortor velit ut nibh aliquam interdum. Nibh justo faucibus gravida vivamus ut
                        sit luctus. Fringilla laoreet eu suscipit vulputate tristique. Vulputate sem justo eleifend
                        quis. Augue fusce ullamcorper mauris ut faucibus.
                        Ut senectus consequat porttitor maecenas ultricies. Odio blandit nec in risus iaculis. Nec amet
                        cursus aliquet commodo. Morbi laoreet massa arcu enim. Ut condimentum senectus scelerisque
                        accumsan. Habitant consequat augue ipsum dignissim porttitor enim mauris penatibus. Malesuada
                        adipiscing vestibulum habitant eu phasellus felis viverra et. Purus massa cum mauris eu purus
                        morbi ac.
                        Lorem ipsum dolor sit amet consectetur. Nulla pellentesque erat eu nunc quam dolor. Lectus
                        tristique aliquet eu mi tristique enim. Nulla enim ac felis facilisis velit volutpat turpis
                        integer augue. Elit vitae mollis ac quisque ultrices et. Egestas mus sit et sapien. Dictum at
                        feugiat sit sodales ornare pellentesque.
                        Proin purus tristique euismod amet ac auctor sed habitasse. Mollis fringilla nunc lacinia at.
                        Diam nibh ut eget tortor velit ut nibh aliquam interdum. Nibh justo faucibus gravida vivamus ut
                        sit luctus. Fringilla laoreet eu suscipit vulputate tristique. Vulputate sem justo eleifend
                        quis. Augue fusce ullamcorper mauris ut faucibus.
                        Ut senectus consequat porttitor maecenas ultricies. Odio blandit nec in risus iaculis. Nec amet
                        cursus aliquet commodo. Morbi laoreet massa arcu enim. Ut condimentum senectus scelerisque
                        accumsan. Habitant consequat augue ipsum dignissim porttitor enim mauris penatibus. Malesuada
                        adipiscing vestibulum habitant eu phasellus felis viverra et. Purus massa cum mauris eu purus
                        morbi ac. -->
                        <br> <br>
                        Regards, Jessica
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>