<div class="personal-cabinet-wrap">
    <aside>
        <img src="assets/icons/logo.svg" alt="Logo">
        <nav>
            <ul>
                <li>My profile</li>
                <li>Messages</li>
                <li>Contracts</li>
                <li>Balance</li>
            </ul>
        </nav>

        <button class="signOut" routerLink="/">Sign out</button>
    </aside>

    <div class="cabinet-main-wrap">
        <div class="cabinet-bar-top">
            <h2>asd</h2>

            <div class="profile">
                <div class="image"></div>
                <div class="profile-data">
                    <h6>Giorgi Ezugbaia</h6>
                    <p>giorgi.ezugbaia12341@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="cabinet-main-bottom">
            <div class="vaime">

            </div>
        </div>

    </div>


</div>