
.personal-cabinet-wrap{
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    aside{
        border-right: 1px solid #282B3F;
        // background: rgba(22, 24, 37, 0.70);
        // backdrop-filter: blur(10px);
        background: rgba(22, 24, 37, 0.70);
        backdrop-filter: blur(10px);
        width: 207px;
        height: 100vh;
        flex-shrink: 0;
        padding: 32px 0px;
        position: relative;
        
        img{
            width: 160px;
            margin-left: 24px;
            margin-bottom: 77px;
        }

        nav{
            ul{
                .routeActive{
                    background: #0131F5;
                }
                li{
                    padding: 12px 12px 12px 24px;

                    &:hover{
                        background: #0131F5;
                    }
                }
            }

        }

        .buttonNoBorder{
            position: absolute;
            bottom: 24px;
            left: 0px;
        }
        // display: inline-block;
    }


    .cabinet-main-wrap{
        display: flex;
        flex-direction: column;
        flex: 1;
        .cabinet-bar-top{
            background: #161825;
            backdrop-filter: blur(10px);

            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 24px;

            h2{
                font-size: 1.2rem;
                font-weight: 500;
            }

            .profile{
                display: flex;
                align-items: center;
                .image{
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                    background-color: #FF5520;
                }

                .profile-data{
                    background-color: #282B3F;
                    h6{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .cabinet-main-bottom{
            flex: 1;
            padding: 32px 24px 0px 32px;

            .vaime{
                // background-color: red;
                background: rgba(22, 24, 37, 0.7);

                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

        }

        .cabinet-footer{
            height: 52px;
            background-color: rgba(16, 16, 16, 0.5);
        }

    }


    .circle{
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        background: #0131F5;
        filter: blur(100px);

    }

    .circle-one{
        width: 921px;
        height: 921px;
        opacity: 0.3;


        left: -158px;
        bottom: -237px;
    }

    .circle-two{
        width: 1185px;
        height: 1185px;

        border-radius: 1185px;
        opacity: 0.1;
        
        left: 307px;
        top: -544px;
    }

    .circle-three{
        width: 804px;
        height: 804px;
        opacity: 0.05;
        background: #01E6F5;

        top: -189px;
        right: -244px;
    }

    .circle-four{
        width: 572px;
        height: 572px;
        opacity: 0.3;
        filter: blur(150px);

        right: 130px;
        bottom: -75px;
    }
}