<div class="personal-cabinet-wrap">
    <aside>
        <img src="assets/icons/logo.svg" alt="Logo">
        <nav>
            <ul>
                <li routerLink="my-profile" routerLinkActive="routeActive">My profile</li>
                <li routerLink="messages" routerLinkActive="routeActive">Messages</li>
                <li routerLink="contracts" routerLinkActive="routeActive">Contracts</li>
                <li routerLink="balance" routerLinkActive="routeActive">Balance</li>
            </ul>
        </nav>

        <button class="buttonNoBorder" routerLink="/">Sign out</button>
    </aside>

    <div class="cabinet-main-wrap">

        <cabinet-header></cabinet-header>

        <div class="cabinet-main-bottom">
                <router-outlet></router-outlet>
        </div>
        <!-- <div class="cabinet-footer"></div> -->


    </div>


    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="circle circle-three"></div>
    <div class="circle circle-four"></div>

</div>