<div class="personal-cabinet-wrap">
    <aside>
        <img src="assets/icons/logo.svg" alt="Logo">
        <nav>
            <ul>
                <li routerLink="my-profile" routerLinkActive="routeActive">My profile</li>
                <li routerLink="messages" routerLinkActive="routeActive">Messages</li>
                <li routerLink="contracts" routerLinkActive="routeActive">Contracts</li>
                <li routerLink="balance" routerLinkActive="routeActive">Balance</li>
            </ul>
        </nav>

        <button class="buttonNoBorder" routerLink="/">Sign out</button>
    </aside>

    <div class="cabinet-main-wrap">
        <div class="cabinet-bar-top">
            <h2>asd</h2>

            <div class="profile">
                <div class="image"></div>
                <div class="profile-data">
                    <h6>Giorgi Ezugbaia</h6>
                    <p>giorgi.ezugbaia12341@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="cabinet-main-bottom">
            <div class="vaime">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>


    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="circle circle-three"></div>
    <div class="circle circle-four"></div>

</div>