<form [formGroup]="forgotForm" class="forgot-password" (ngSubmit)="forgotCode()">
    <img src="assets/icons/logo.svg" alt="">
    <h5>Forgot your password?</h5>
    <p>Enter the email address you used when registering to recover your password. You will receive a link to reset your password.</p>
    <input [class.invalid]="forgotForm.invalid && forgotForm.get('email')?.touched" formControlName="email"  type="text" placeholder="Email">

    <app-button [disabled]="forgotForm.invalid" [isLoading]="isLoading">Send message</app-button>

    <p class="changeStep">Return to <span (click)="goToLogin()">Login</span></p>
    <p class="changeStep">Return to <span (click)="goToRegister()">Register</span></p>

</form>