.forgot-password{
    text-align: center;

    img{
        margin-bottom: 12px;
        width: 100%;
    }

    p{
        line-height: 150%;
        margin: 24px 0px;
    }

    button{
        margin-top: 24px;
        width: 100%;
    }
}

