<div class="container">

    <div class="step--cell">
        <img src="assets/icons/phone.svg" alt="phone">
        <h6>Step 1</h6>
        <p>For more information, please contact us or have your software supplier contact us. We will be happy to advise you on
            choosing the right solution.</p>
    </div>

    <div class="step--cell">
         <img src="assets/icons/edit.svg" alt="">
         <h6>Step 2</h6>
        <p>We create the software escrow agreement according to your needs in connection with the source code and other escrow
            items.</p>
    </div>

    <div class="step--cell">
        <img src="assets/icons/security.svg" alt="">
        <h6>Step 3</h6>
        <p>We guarantee the protected storage and availability of the source code, software updates and other deposited items.</p>
    </div>

</div>