/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Comfortea;
    src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf) format("opentype");
}

*{
    padding: 0;
    margin: 0;
    font-family: Comfortea;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
}

.container{
    width: min(1200px, 100% - 2 * 1rem);
    margin-inline: auto;
}

button{
    width: 112px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: transparent;
    transition: all 500ms;
    cursor: pointer;

    &:hover{
        background: #0131F5;
        border: 1px solid #0131F5;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;     background: #161825;}


ul{
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
}

h4{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 80px;
    text-align: center;
}

h5{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    span{
        color: #0131F5;
        font-size: inherit;
    }
}
h6{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    span{
        color: #0131F5;
        font-size: inherit;
    }
}

a{
    text-decoration: none;
}