<div class="container">

    <div class="step--cell">
        <img width="100" height="100" src="assets/icons/phone.svg" alt="phone">
        <h6>Step 1</h6>
        <p>For more information, please contact us. We will be happy to advise you on choosing the right solution.</p>
    </div>

    <div class="step--cell">
         <img width="100" height="100" src="assets/icons/edit.svg" alt="edit">
         <h6>Step 2</h6>
        <p>We will craft a customized agreement to perfectly suit your requirements, and we will be there to assist you every step of the way.</p>
    </div>

    <div class="step--cell">
        <img width="100" height="100" src="assets/icons/security.svg" alt="security">
        <h6>Step 3</h6>
        <p>We will ensure the secure and seamless execution of the agreement, guaranteeing the availability of financial assets and other deposited items.</p>
    </div>

</div>