<form [formGroup]="newPasswordForm" class="forgot-password" (ngSubmit)="changePassword()">
    <img src="assets/icons/logo.svg" alt="">
    <h5>New Password</h5>
    <p>Enter your new account password below</p>
    <input [class.invalid]="newPasswordForm.get('password')!.invalid && newPasswordForm.get('password')!.touched"  formControlName="password"  type="password" placeholder="Password">
    <input [class.invalid]="newPasswordForm.get('password')!.value != newPasswordForm.get('repeat_password')!.value && newPasswordForm.get('repeat_password')!.touched" formControlName="repeat_password"  type="password" placeholder="Confirm Password">
    <input [class.invalid]="newPasswordForm.get('code')!.invalid && newPasswordForm.get('code')!.touched" formControlName="code"  type="text" placeholder="Code">
    <app-button [isLoading]="isLoading" [disabled]="newPasswordForm.invalid">Updatre PWD</app-button>
</form>