<div class="cabinet-wrap">
    <div class="my-profile cabinet-container">
        <div class="my-profile-wrap">
            <h2>Welcome to your personal cabinet!</h2>
            <app-user-info size="big"></app-user-info>

            <form class="my-profile-main" [formGroup]="personalDataForm">
                <div class="column-one">
                    <input-with-label labelTitle="Name" formControlName="firstname"></input-with-label>
                    <input-with-label labelTitle="Last name" formControlName="lastname"></input-with-label>
                    <input-with-label labelTitle="Email" formControlName="email"></input-with-label>
                    <input-with-label labelTitle="Phone" formControlName="phone"></input-with-label>
                    <input-with-label labelTitle="Gender" formControlName="gender" type="select" [options]="['male','female']"></input-with-label>
    
                </div>
                <div class="column-two">
                    <!-- <input-with-label labelTitle="Age" formControlName="age"></input-with-label>
                    <input-with-label labelTitle="Social Status" formControlName="social_status"></input-with-label> -->
                    <input-with-label labelTitle="Nationality" formControlName="nationality"></input-with-label>
                    <input-with-label labelTitle="Country" formControlName="country"></input-with-label>
                    <input-with-label labelTitle="City" formControlName="city"></input-with-label>
                    <input-with-label labelTitle="Address" formControlName="address"></input-with-label>
                    <input-with-label labelTitle="Zip code" formControlName="zip_code"></input-with-label>
                </div>
                <div class="column-three">
    
                    <input-with-label labelTitle="Passport number" formControlName="passport_number"></input-with-label>
                    <input-with-label labelTitle="Issue Date" formControlName="issue_date" type="date"></input-with-label>
                    <input-with-label labelTitle="Expiration Date" formControlName="expiration_date" type="date"></input-with-label>
                    <input-with-label labelTitle="Identification Number" formControlName="identification_number"></input-with-label>
                    <input-with-label labelTitle="Who issued the passport" formControlName="who_issued_passport"></input-with-label>
                </div>
            </form>
    
            <div class="actions">
                <button class="buttomWhiteBorder" (click)="updateUser()">{{inUpdateMode ? "Update information" : "Edit"}}</button>
                <!-- <button class="buttonNoBorder">Delete your account </button> -->
            </div>
        </div>

        <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
    
    </div>
</div>